<?xml version="1.0"?>
<config>
    <modules>
        <Uhc_Regionmapping>
            <version>0.1.0</version>
        </Uhc_Regionmapping>
    </modules>
    <frontend>
        <routers>
            <regionmapping>
                <use>standard</use>
                <args>
                    <module>Uhc_Regionmapping</module>
                    <frontName>regionmapping</frontName>
                </args>
            </regionmapping>
        </routers>
        <layout>
            <updates>
                <regionmapping>
                    <file>regionmapping.xml</file>
                </regionmapping>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <regionmapping>
                <class>Uhc_Regionmapping_Model</class>
                <resourceModel>regionmapping_mysql4</resourceModel>
            </regionmapping>
            <regionmapping_mysql4>
                <class>Uhc_Regionmapping_Model_Mysql4</class>
                <entities>
                    <regionmapping>
                        <table>regionmapping</table>
                    </regionmapping>
                </entities>
            </regionmapping_mysql4>
        </models>
        <resources>
            <regionmapping_setup>
                <setup>
                    <module>Uhc_Regionmapping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </regionmapping_setup>
            <regionmapping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </regionmapping_write>
            <regionmapping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </regionmapping_read>
        </resources>
        <blocks>
            <regionmapping>
                <class>Uhc_Regionmapping_Block</class>
            </regionmapping>
        </blocks>
        <helpers>
            <regionmapping>
                <class>Uhc_Regionmapping_Helper</class>
            </regionmapping>
        </helpers>
    </global>
</config>